	<div class="row align-items-start">
	  <div class="col">
	    <select (change)="onUserChange($event)" 
							class="form-select" 
							aria-label="Default select example"
	      			id="select-assignee">
	      <option selected value="">Select user</option>
	      <option *ngFor="let user of users" value="{{user._id}}">{{user.name}}</option>
	    </select>
	  </div>
	  <div class="col">
	    <select (change)="onPriorityChange($event)" 
							class="form-select" 
							aria-label="Default select example"
	      			id="select-priority">
	      <option selected value="">Select priority</option>
	      <option *ngFor="let priority of priorities" value="{{priority._id}}">
	        {{priority.priority}}</option>
	    </select>
	  </div>
	  <div class="col">
	    <input (change)="onDateChange($event)" type="date" value="" id="select-date">
	  </div>
	</div>
